html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}img{
     width:200px;
     height:200px;
 }
a.disabled {
    pointer-events: none;
    cursor: default;
}
.rows{
    background-color:rebeccapurple;
    display:flex;
    flex-wrap:wrap;
    
}
.rows > .container{
    flex:20%;
    display:flex;
    justify-content:center;
    background-color:yellow;
    width:300px;
}
.addtocart{
    width:200px;
    height:50px;
}