html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}
/*ProductPage*/
img{
     width:200px;
     height:200px;
 }
a.disabled {
    pointer-events: none;
    cursor: default;
}
.rows{
    display:flex;
    flex-wrap:wrap;
    
}
.rows > .container{
    height:600px;
    width:300px;
    flex:33%;
    display:flex;
    justify-content:center;
    align-items:center;
    width:300px;
    /*border: 1px solid black;*/
}
.rows h3{

}
.option{
    border-color:black;
    border-radius:50%;
    width:20px;
    height:20px;
    margin:10px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-color:transparent;
    

}
.addtocart{
    width:300px;
    height:50px;
    position:absolute;
    background-color:black;
}