html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f2efec;
    color:black;
}
.announcement {
    background-color: black;
    position: fixed;
    width: 100%;
    height:50px;
    top: 0;
    display:flex;
    justify-content:space-evenly;
    color:white;
    align-items:center;
    
}
.navbar{
   position:relative;
   top:50px;
   bottom:50px;
}

#user{
    align-content:center;
    position:relative;
    margin-top:5px;
}
#username{
    display:none;
    position:absolute;
    top:40px;
}
#user:hover + #username{
    display:block;
}
#userIcon{
    align-items:center;
    width:30px;
    height:30px;
}
.top-Image{
    width:100%;
    height:700px;

    background-image:url("/img/bg.jpg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.categories{
    margin-top:100px;
}
section ul {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    height: 50px;
    text-align: center;
}
section ul li{
    list-style:none;
    width: 100px;
}
section ul li a{
    text-decoration:none;
    font-size:20px;
    color:black;
}
/*ProductPage*/
img{
     width:300px;
     height:200px;
 }
a.disabled {
    pointer-events: none;
    cursor: default;
}
.rows{
    display:flex;
    flex-wrap:wrap;
    position:relative;
    margin-bottom:300px;
    
}
.rows > .containers{
    height:600px;
    width:300px;
    flex:33%;
    display:flex;
    justify-content:center;
    align-items:center;
    width:300px;
}
.rows h3{

}
.option{
    border-color:black;
    border-radius:50%;
    width:20px;
    height:20px;
    margin:10px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-color:transparent;
    

}
.addtocart{
    width:300px;
    height:50px;
    position:absolute;
    background-color:black;
}

/*Cart*/
.page{
    position:relative;
    width:70%;
    margin:100px auto;
}
.cart{
    width:100px;
    height:100px;
}
.operation{
    border:0px;
}
.delete{
    width:200px;
    height:200px;
   background-image:url("/img/bg.jpg");

}
.total{
    position:absolute;
    bottom:0;
    right:0;
}
.checkout{
    position:relative;
    width:50%;
    margin: 0 auto;
    background-color:black;
    color:white;
    left:25%;
    margin-top:100px;
}