@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="index">
    <div class="top-Image">
    </div>
    
    <h4 class="sections-title">Makeup Collection</h4>
    <form method="post">
    <div class="sections">
        <section>
            <img class="section-Img" src="~/img//blush.jpg"/>
            <button asp-page="ProductsPage/index" asp-route-categoryId="1">Blush Collection</button>
        </section>
        <section>
                <img class="section-Img" src="~/img/pink.jpg" />
                <button asp-page="ProductsPage/index" asp-route-categoryId="1">Lipstick Collection</button>
        </section>
        <section>
                <img class="section-Img" />
                <button asp-page="ProductsPage/index" asp-route-categoryId="1">Foundation Collection</button>
        </section>
    </div>
    </form>
</div>
